.Typography {
  font-family: "Montserrat", sans-serif;
}

.s1 {
  font-size: 32px;
}

.s2 {
  font-size: 26px;
}

.s3 {
  font-size: 22px;
}

.s4 {
  font-size: 18px;
}

.s5 {
  font-size: 15px;
}

.s6 {
  font-size: 12px;
}

.regular {
font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semiBold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extraBold {
  font-weight: 800;
}

.underline {
  text-decoration-line: underline;
}