:root {
  --PRIMARY-A: #151515;
  --PRIMARY-B: #575757;
  --PRIMARY-C: #A9A9A9;
  --PRIMARY-D: #D1D1D1;
  --PRIMARY-E: #EBEBEB;

  --SECONDARY-A: #6A983C;
  --SECONDARY-B: #46760A;
  --SECONDARY-C: #92C064;
  --SECONDARY-D: #C8DEB3;
  --SECONDARY-E: #F4F8EC;

  --WARNING-A: #D0A866;
  --WARNING-B: #B28A48;
  --WARNING-C: #ECD2A6;
  --WARNING-D: #FAEDD8;
  --WARNING-E: #FFF9F0;

  --DANGER-A: #E5704B;
  --DANGER-B: #C7522D;
  --DANGER-C: #EB8D70;
  --DANGER-D: #F7C6B7;
  --DANGER-E: #FFF1ED;

  --INFO-A: #37D0D6;
  --INFO-B: #37D0D6;
  --INFO-C: #7CD0D3;
  --INFO-D: #B9E6E8;
  --INFO-E: #ECF6F6;
}